*{  
    margin: 0%;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




.container-style{   
    margin: 0%;
    text-align: right;
    align-items: center;
}
